body{
    width: 70%;
    margin: auto;
    height: 110vh;
}
*{
    margin: 0;
    padding: 0;
}
#ludo{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.upperPortion{
    display: flex;
    flex-direction: row;
}
#section1{
    width: 40%;
    border: 1px solid black;
    height: 60vh;
}
#section2{
    width: 60%;
    border: 1px solid black;
    height: 60vh;
    display: flex;
    flex-direction: row;
}


#section3{
    width: 59.5%;
    border: 1px solid black;
    height: 40vh;
}

#section4{
    width: 40.5%;
    border: 1px solid black;
    height: 40vh;
    /* float: right;     */
}

#section2_1{
    width: 33%;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section2_1_Childs{
    height: 100%;
    width: 33%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.redBox{
    width: 100%;
    height: 16.6%;
    border: 1px solid black;
}

#section1_1{
    width: 100%;
    height: 70%;
    border: 1px solid blue;
}
#section1_2{
    width: 100%;
    height: 29.5%;
    border: 1px solid blue;
}
.section1_2_Childs{
    width: 100%;
    height: 32%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.blueBoxes{
    width: 16.6%;
    height: 100%;
    border: 1px solid black;
}

#section2_2{
    width: 70%;
    border: 1px solid black;
}

#section2_2Child1{
    width: 100%;
    height: 70%;
    border: 1px solid red;
}

#section2_2Child2{
    width: 100%;
    height: 30%;
    border: 1px solid rgb(199, 199, 79);
    display: flex;
    flex-direction: column;

}


.yellowBox{
    width: 16.6%;
    height: 100%;
    border: 1px solid black;
}

.section2_2Child2_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
}

#lowerSection{
    display: flex;
    flex-direction: row;
}

#section3_1{
    width: 67%;
    height: 100%;
    border: 1px solid green;
}

#section3_2{
    width: 33%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.section3_2Cilds{
    width: 33%;
    height: 100%;
    border: 1px solid green;
    display: flex ;
    flex-direction: column;
}

.greenBox{
    width: 100%;
    height: 16.6%;
    border: 1px solid black;
}

.coloredBlue{
    background-color: blue;
}
.coloredRed{
    background-color: red;
    
}
.coloredGreen{
    background-color: green;
}
.coloredyellow{
    background-color: rgb(199, 199, 79);;
}

#icons{
    width: 80px;
    height: 80px;
    margin: auto;
}

.DiceIcon{
    width: 100%;
    height: 100%;
    /* display: none; */
}